USE [master]
GO
/****** Object:  Database [HotelBookingReservation]    Script Date: 02-09-2025 10:23:36 ******/
CREATE DATABASE [HotelBookingReservation]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HotelBookingDb3', FILENAME = N'E:\SQL SERVER\MSSQL16.SQLEXPRESS\MSSQL\DATA\HotelBookingDb3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HotelBookingDb3_log', FILENAME = N'E:\SQL SERVER\MSSQL16.SQLEXPRESS\MSSQL\DATA\HotelBookingDb3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HotelBookingReservation].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HotelBookingReservation]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 02-09-2025 10:23:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[RoomId] [int] NOT NULL,
	[CheckInDate] [date] NOT NULL,
	[CheckOutDate] [date] NOT NULL,
	[TotalPrice] [decimal](10, 2) NOT NULL,
	[Status] [nvarchar](20) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 02-09-2025 10:23:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[custId] [int] IDENTITY(1,1) NOT NULL,
	[custName] [varchar](30) NULL,
	[custUserName] [varchar](30) NULL,
	[custPassword] [varchar](30) NULL,
	[city] [varchar](30) NULL,
	[state] [varchar](30) NULL,
	[email] [varchar](30) NULL,
	[mobileNo] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[custId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hotels]    Script Date: 02-09-2025 10:23:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hotels](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](255) NULL,
	[City] [nvarchar](50) NULL,
	[Country] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 02-09-2025 10:23:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[menuId] [int] IDENTITY(1,1) NOT NULL,
	[ItemName] [varchar](30) NULL,
	[ItemType] [varchar](20) NULL,
	[Price] [numeric](9, 2) NULL,
	[Description] [varchar](100) NULL,
	[rating] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[menuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 02-09-2025 10:23:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[custId] [int] NOT NULL,
	[MenuId] [int] NOT NULL,
	[VendorId] [int] NOT NULL,
	[QtyOrd] [int] NULL,
	[BillAmount] [numeric](9, 2) NULL,
	[OrderStatus] [varchar](30) NOT NULL,
	[OrderComments] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 02-09-2025 10:23:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BookingId] [int] NOT NULL,
	[PaymentDate] [datetime] NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[Status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 02-09-2025 10:23:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[HotelId] [int] NOT NULL,
	[RoomNumber] [nvarchar](20) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[IsAvailable] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 02-09-2025 10:23:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vendor]    Script Date: 02-09-2025 10:23:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendor](
	[VendorId] [int] IDENTITY(1,1) NOT NULL,
	[VendorName] [varchar](30) NULL,
	[VendorUserName] [varchar](30) NOT NULL,
	[VendorPassword] [varchar](30) NULL,
	[VendorEmail] [varchar](30) NULL,
	[VendorMobile] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[VendorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wallet]    Script Date: 02-09-2025 10:23:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wallet](
	[walletId] [int] IDENTITY(1,1) NOT NULL,
	[custId] [int] NOT NULL,
	[walletType] [varchar](30) NULL,
	[walletAmount] [numeric](9, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[walletId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bookings] ON 

INSERT [dbo].[Bookings] ([Id], [UserId], [RoomId], [CheckInDate], [CheckOutDate], [TotalPrice], [Status], [CreatedAt]) VALUES (1, 2, 3, CAST(N'2025-08-28' AS Date), CAST(N'2025-08-31' AS Date), CAST(54000.00 AS Decimal(10, 2)), N'Pending', CAST(N'2025-08-28T22:31:50.893' AS DateTime))
INSERT [dbo].[Bookings] ([Id], [UserId], [RoomId], [CheckInDate], [CheckOutDate], [TotalPrice], [Status], [CreatedAt]) VALUES (3, 2, 1, CAST(N'2025-08-29' AS Date), CAST(N'2025-08-30' AS Date), CAST(6000.00 AS Decimal(10, 2)), N'Confirmed', CAST(N'2025-08-29T11:02:40.040' AS DateTime))
INSERT [dbo].[Bookings] ([Id], [UserId], [RoomId], [CheckInDate], [CheckOutDate], [TotalPrice], [Status], [CreatedAt]) VALUES (4, 5, 4, CAST(N'2025-08-29' AS Date), CAST(N'2025-08-30' AS Date), CAST(5500.00 AS Decimal(10, 2)), N'Cancelled', CAST(N'2025-08-29T11:08:59.250' AS DateTime))
SET IDENTITY_INSERT [dbo].[Bookings] OFF
GO
SET IDENTITY_INSERT [dbo].[Hotels] ON 

INSERT [dbo].[Hotels] ([Id], [Name], [Address], [City], [Country], [CreatedAt]) VALUES (1, N'Tree Blue', N'Bengaluru', N'Mumbai', N'India', CAST(N'2025-08-28T22:25:13.750' AS DateTime))
INSERT [dbo].[Hotels] ([Id], [Name], [Address], [City], [Country], [CreatedAt]) VALUES (2, N'Og Grand', N'15 Jawaharlal Nehru Road', N'Kolkata', N'India', CAST(N'2025-08-28T22:25:13.750' AS DateTime))
INSERT [dbo].[Hotels] ([Id], [Name], [Address], [City], [Country], [CreatedAt]) VALUES (3, N'ITC Maurya', N'Diplomatic Enclave', N' Delhi', N'India', CAST(N'2025-08-28T22:25:13.750' AS DateTime))
SET IDENTITY_INSERT [dbo].[Hotels] OFF
GO
SET IDENTITY_INSERT [dbo].[Rooms] ON 

INSERT [dbo].[Rooms] ([Id], [HotelId], [RoomNumber], [Type], [Price], [IsAvailable]) VALUES (1, 1, N'101', N'Standard', CAST(6000.00 AS Decimal(10, 2)), 0)
INSERT [dbo].[Rooms] ([Id], [HotelId], [RoomNumber], [Type], [Price], [IsAvailable]) VALUES (2, 1, N'102', N'Deluxe', CAST(10000.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Rooms] ([Id], [HotelId], [RoomNumber], [Type], [Price], [IsAvailable]) VALUES (3, 1, N'103', N'Royal Suite', CAST(18000.00 AS Decimal(10, 2)), 1)
SET IDENTITY_INSERT [dbo].[Rooms] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Name], [Email], [PasswordHash], [Role], [CreatedAt]) VALUES (1, N'vasim', N'vasim@gmail.com', N'$2a$11$9Ez8MbQnV52bdKciQQOG3OKozv.FBCtOTyB1WUoQ9nmjhnLp5pB1e', N'Admin', CAST(N'2025-08-28T22:25:13.657' AS DateTime))
INSERT [dbo].[Users] ([Id], [Name], [Email], [PasswordHash], [Role], [CreatedAt]) VALUES (2, N'virat', N'virat@gmail.com', N'$2a$11$xJztD9lrysVQZQRqlOOYU.r8uHKTwUQ2rIXuAgrB80QS.gBNspdxG', N'Guest', CAST(N'2025-08-28T22:28:57.307' AS DateTime))
INSERT [dbo].[Users] ([Id], [Name], [Email], [PasswordHash], [Role], [CreatedAt]) VALUES (4, N'sunil', N'sunil@gmail.com', N'$2a$11$gMzTFFkIt4faQJlGdLxlyeFUlEnR58.tZdii4E4/Fb8c8h1eVTyYW', N'Guest', CAST(N'2025-08-29T11:00:45.637' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D1053417DA4D26]    Script Date: 02-09-2025 10:23:37 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Vendor__827BE1878C5ADB69]    Script Date: 02-09-2025 10:23:37 ******/
ALTER TABLE [dbo].[Vendor] ADD UNIQUE NONCLUSTERED 
(
	[VendorUserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Vendor__827BE187A531BAFF]    Script Date: 02-09-2025 10:23:37 ******/
ALTER TABLE [dbo].[Vendor] ADD UNIQUE NONCLUSTERED 
(
	[VendorUserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Hotels] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('PENDING') FOR [OrderStatus]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT ((1)) FOR [IsAvailable]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([RoomId])
REFERENCES [dbo].[Rooms] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([custId])
REFERENCES [dbo].[Customer] ([custId])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([MenuId])
REFERENCES [dbo].[Menu] ([menuId])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([VendorId])
REFERENCES [dbo].[Vendor] ([VendorId])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customer] FOREIGN KEY([custId])
REFERENCES [dbo].[Customer] ([custId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Customer]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Menu] FOREIGN KEY([MenuId])
REFERENCES [dbo].[Menu] ([menuId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Menu]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Vendor] FOREIGN KEY([VendorId])
REFERENCES [dbo].[Vendor] ([VendorId])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Vendor]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([BookingId])
REFERENCES [dbo].[Bookings] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD FOREIGN KEY([HotelId])
REFERENCES [dbo].[Hotels] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Wallet]  WITH CHECK ADD  CONSTRAINT [FK_Wallet_Customer] FOREIGN KEY([custId])
REFERENCES [dbo].[Customer] ([custId])
GO
ALTER TABLE [dbo].[Wallet] CHECK CONSTRAINT [FK_Wallet_Customer]
GO
USE [master]
GO
